  <div class="future-cop">
    <h3 class="future">The Cocktails</h3>
    <h1 class="cop">BAR</h1>
  </div>

<div class="cards">
  <% @cocktails.each do |ele| %>
    <%= link_to cocktail_path(ele), class: "text-decoration-none" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= cl_image_path ele.photo%>)">
        <%= ele.name %>
      </div>
    <% end %>
  <% end %>
</div>


<%=link_to "Create new cocktails", new_cocktail_path, class: "btn btn-primary w-100 my-5"%>


